/Codigo e implementacion/IntefazHospitales/dist/
/Codigo e implementacion/Entrega Final Proyecto/build/
/Codigo e implementacion/Entrega Final Proyecto/dist/
/Codigo e implementacion/Entrega Final Proyecto/nbproject/private/
